@font-face {
    font-family:'Segoe UI' ;
    src: url(./fonts/Segoe\ UI.ttf);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1165px;
    margin: 0 auto;
}


ul li {
    list-style: none;
}

input:focus {
    border: 2px solid #01BAB3;
}

input[type="radio"] :focus {
color: #01BAB3;
}

@media (max-width:1000px) {
    .right {
        display: none;
    }
}